body {
    background-color: aqua;
}

section {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

h3 {
    font-style: italic;
    color: red;
}

.Conteiner {
    display: flex;
    align-items: center;
}